@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --cp-dark: #ddd;
  --cp-darker: #06020a;
  --cp-dark: #120f20;
  --cp-green: #55af65;
  --cp-blue: #5572af;
  --cp-purple: #363060;
  --cp-grey: #999999;
  --cp-red: #c5141c;
  --cp-yellow: #ffc107;
  --cp-text-color: #ddd;
}

html, 
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--cp-darker)!important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* ===== Custom Classes ===== */

.z-front {
  z-index: 2
}

.z-back {
  z-index: 1
}

.fw-600 {
  font-weight: 600;
}

.fs-14 {
  font-size: 14px;
}

.cp-rounded {
  border-radius: 15px!important;
}

.cp-rounded-sm {
  border-radius: 10px!important;
}

.cp-rounded-start-sm {
  border-radius: 10px 0 0 10px!important
}

.cp-divider {
  background: var(--cp-purple);
  height: 1px;
  width: 100%;
  border-radius: 50px
}

.cp-border {
  border: 2px solid var(--cp-green);
}

.cp-pointer {
  cursor: pointer;
}

.nowrap {
  white-space: nowrap;
}

/* ===== Modal Slide Up ===== */

.modal {
  background: rgb(8 5 11 / 90%)
}

.cp-border-purple {
  border: 2px solid var(--cp-purple);
}

.cp-box-shadow {
  box-shadow: 0 0 200px #4c415f;
}

.cp-modal-fade {
  animation: cpFadeUp 0.3s ease-out forwards;
}

@keyframes cpFadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ===== Background Color ===== */

.cp-bg-darker {
  background: var(--cp-darker);
}

.cp-bg-dark {
  background: var(--cp-dark);
}

.cp-bg-green {
  background: var(--cp-green);
}

.cp-bg-blue {
  background: var(--cp-blue);
}

.cp-bg-grey {
  background: var(--cp-grey);
}

.cp-bg-purple {
  background: var(--cp-purple);
}

.cp-bg-red {
  background: var(--cp-red);
}

.cp-bg-red {
  background: var(--cp-yellow);
}

/* ===== Text Color ===== */

.cp-text-darker {
  color: var(--cp-darker);
}

.cp-text-dark {
  color: var(--cp-dark);
}

.cp-text-green {
  color: var(--cp-green);
}

.cp-text-blue {
  color: var(--cp-blue);
}

.cp-text-grey {
  color: var(--cp-grey);
}

.cp-text-purple {
  color: var(--cp-purple);
}

.cp-text-red {
  color: var(--cp-red);
}

.cp-text-yellow {
  color: var(--cp-yellow);
}

/* ===== Button ===== */

.btn:disabled {
  cursor: pointer;
  background: var(--cp-dark);
  border: 2px solid var(--cp-purple);
  opacity: .5;
}

.btn {
  font-weight: 600;
  border-radius: 8px;
  padding: 5px 15px;
  cursor: pointer
}

.cp-green:hover {
  border: 1px solid var(--cp-green)!important;
}

.cp-red:hover {
  border: 1px solid var(--cp-red)!important;
}

.cp-yellow:hover {
  border: 1px solid var(--cp-yellow)!important;
}

.cp-btn-dark {
  color: #fff;
  background: var(--cp-dark);
  border: 1px solid var(--cp-purple);
}

.cp-btn-dark:hover {
  color: #fff;
  background: var(--cp-dark);
  border: 1px solid #645ab3;
}

.cp-btn-red {
  color: #fff;
  background: var(--cp-red);
  border: 1px solid var(--cp-red);
}

.cp-btn-red:hover {
  color: #fff;
  background: var(--cp-dark);
  border: 1px solid var(--cp-red);
}

.cp-btn-green {
  color: #fff;
  background: var(--cp-green);
  border: 1px solid var(--cp-green);
}

.cp-btn-green:hover {
  color: var(--cp-light);
  background: var(--cp-dark);
  border: 1px solid var(--cp-green);
}

/* ===== Mic Button ===== */

.animate-pulse i:before {
  animation: pulse 1.5s infinite;
  content: "\F57C";
}

.cp-dictating {
  background-color: var(--cp-darker) !important; /* Keep cp-bg-darker */
  color: white !important;
  opacity: 1 !important;
}

@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

/* ===== Form Styles ===== */

.form-control-color {
  position: relative
}

.form-control-color:before {
  content: '\F342';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translatex(-50%) translatey(-50%);
  font-family: bootstrap-icons !important;
  color: #ddd;
}

.form-control,
.form-select {
  background: var(--cp-darker);
  border: none;
  color: #fff!important;
  padding: 10px 20px;
}

.form-control::placeholder {
  color: #777;
}

.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--cp-darker);
  border-color: none;
  outline: 0;
  box-shadow: none
}

.cp-select-container {
  font-weight: 600;
}

#cp-mainnav .cp-select-container .cp-select__indicator svg {
  position: relative;
  right: 10px;
}

.cp-select-container .cp-select__indicator svg {
  fill: var(--cp-green)!important;
}

.cp-select__single-value {
  color: #fff;
  cursor: pointer;
}

.cp-select__placeholder {
  color: var(--cp-grey)!important;
}

.cp-select__option--is-selected {
  color: var(--cp-green)!important;
  background: var(--cp-dark)!important;
  border-radius: 10px;
}

.cp-select__option--is-focused {
  background: transparent!important;
}

.cp-select__value-container {
  padding: 7px 15px!important;
}

.cp-select__control {
  background-color: var(--cp-darker)!important;
  border: none!important;
  border-radius: 10px!important; 
  color: #fff;
}

.cp-select__control--is-focused {
  background-color: var(--cp-darker);
  box-shadow: none!important;
  border: none!important;
}

.cp-select__menu {
  background-color: var(--cp-darker)!important;
  color: #fff;
  border-radius: 15px!important;
  padding: 15px;
  border: none;
  z-index: 9!important;
}

.cp-select__menu > div > div:hover {
  background: var(--cp-dark)!important;
  border-radius: 10px;
  cursor: pointer;
}

.cp-select__option {
  background-color: transparent;
  color: #fff;
}

.cp-select__multi-value {
  border-radius: 50px!important;
  font-weight: bold;
  background: var(--cp-purple)!important;
  padding: 0 5px 0 10px
}

.cp-select__multi-value__label {
  color: var(--cp-text-color)!important;
}

.cp-select__multi-value__remove svg {
  fill: rgba(255,255,255,0.5);
}

.cp-select__multi-value__remove svg:hover {
  fill: var(--cp-text-color);
}

.cp-select__multi-value__remove:hover {
  background: transparent!important;
}

.cp-select__multi-value__label {
  color: #fff;
}

.cp-select__multi-value__remove {
  color: #fff;
}

.cp-select__indicator-separator {
  background: var(--cp-purple)!important;
}

.cp-select-container .cp-select__clear-indicator svg {
  fill: var(--cp-red)!important;
}

/* ===== Sidebar ===== */

#cp-navbar {
  height: calc(100vh - 3rem);
  position: sticky;
  top: 1.5rem;
}

#cp-navbar .nav-link {
  text-transform: uppercase;
  font-weight: 600;
  opacity: .5;
  transition: all .3s;
}

#cp-navbar .cp-active.nav-link,
#cp-navbar .nav-link:hover {
  opacity: 1
}

#cp-navbar .cp-progress {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 2px solid var(--cp-purple);
}

#cp-navbar .cp-active .cp-progress {
  border: 2px solid var(--cp-green);
}

#cp-navbar .cp-percentage {
  font-size: 8px;
  color: var(--cp-grey);
  position: relative;
  top: 1px
}

/* ===== Script Panel ===== */

#cp-scene-list .bi-pencil-fill {
  background: rgba(255,255,255,0.1);
  display: flex;
  align-items: center;
  border-radius: 0 10px 10px 0;
  padding: 0 12px;
  position: relative;
  left: 0!important;
}

#cp-script-characters .bi-pencil-fill:hover,
#cp-script-scenes .bi-pencil-fill:hover {
  opacity: 1!important;
}

#cp-script-characters .bi-pencil-fill,
#cp-script-scenes .bi-pencil-fill {
  position: relative;
  left: 2px
}

#cp-script-characters .bi-plus-square-fill:hover:before,
#cp-script-scenes .bi-plus-square-fill:hover:before {
  content: '\F4FD';
}

.cp-chip {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 40px;
  background: rgba(255,255,255,0.1);
}